#createListing{
    margin:3% 5% 3% 5%;
}

#detailsArea{
    margin-top: 0%;
}

#imageArea{
    margin-top: 0%;
}

#listingTitle{
    margin-bottom: 10%;
}

#priceTitle{
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
}

#saleToggle{
    float: left;
    padding-bottom: 2%;
}

#imageToggle{
    padding-top: 2%;
}

#listingHere{
    color: blue;
    cursor: pointer;
}

#backButton{
    text-align: left;
    color:blue;
}

.filterOptions{
    width:80px;
}