.side-drawer {
    position: fixed;
    height: 100%;
    background: #5F9EA0;
    top: 0;
    left: 0;
    width:15%;
    z-index: 1100;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    transform: translateX(-100%);
    /* transform: translateX(0%); */
    transition: transform 0.3s ease-out;
  }
  .side-drawer.open {
    transform: translateX(0);
  }
  
.accountBtn{
  color:black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#loginBtn{
  margin-right:2%;
}

#regBtn{
  margin-right:2%;
}

#userName{
  display:flex;
  align-items: center;
  color:black;
  margin:0;
  margin-right:1%;
}

#navHeader{
  color:black;
  justify-content: center;
  cursor: pointer;
}

.sideBarName{
  text-align: left;
  margin-top: 10%;
  margin-left: 5%;
  color:black;
}

#navArea{
  display: flex;
  width: 100%;
  align-items: center;
}

.navIcons{
  margin-right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navIcons .tooltiptext{
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 60px;
  /* left: 50%; */
  /* margin-left: -60px; */
}
.navIcons:hover .tooltiptext {
  visibility: visible;
}

#homeHeader{
  margin-left: 3%;
  color: black;
  cursor: pointer;
}

.allHeaders{
  margin-left: 1%;
  color: darkgray;
  cursor: pointer;
}

.allHeaders:hover{
  color: black;
}

.dropdown-toggle::after{
  display: none;
}

#profDiv{
  display: flex;
  align-items: center;
  justify-content: end;
  width:100%;
}

#homeTitle{
  font-size: 50px;
  text-align: left;
}

#recentHeader{
  text-align: center;
  font-size: 50px;
  margin-bottom: 1%;
}

#recentRow{
  background-color: white;
  padding-top: 1%;
  padding-bottom: 2%;
}