.side-drawer {
    position: fixed;
    height: 100%;
    background: #5F9EA0;
    top: 0;
    left: 0;
    width:15%;
    z-index: 1100;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    transform: translateX(-100%);
    /* transform: translateX(0%); */
    transition: transform 0.3s ease-out;
  }
  .side-drawer.open {
    transform: translateX(0);
  }
  
.accountBtn{
  color:black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#loginBtn{
  margin-right:2%;
}

#regBtn{
  margin-right:2%;
}

#userName{
  display:flex;
  align-items: center;
  color:black;
  margin:0;
  margin-right:5%;
}

#navHeader{
  color:black;
  justify-content: center;
}

.sideBarName{
  text-align: left;
  margin-top: 10%;
  margin-left: 5%;
  color:black;
}

#navArea{
  display: flex;
  width: 100%;
  align-items: center;
}

#homeHeader{
  margin-left: 3%;
  color: black;
  cursor: pointer;
}

.allHeaders{
  margin-left: 1%;
  color: black;
  cursor: pointer;
}

.dropdown-toggle::after{
  display: none;
}

#profDiv:hover #profArrow{
  transform: scaleY(-1);
}

#profDiv{
  display: flex;
  align-items: center;
}

#homeTitle{
  font-size: 50px;
  text-align: left;
}

#recentHeader{
  text-align: center;
  font-size: 50px;
}

#recentRow{
  background-color: white;
  padding-top: 1%;
}