#imageCol {
    background-color: #5F9EA0;
}
  
#columnCover {
    height:100%;
    width:50%;
    background-color: #5F9EA0;
    position: absolute;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: transform 500ms ease-in-out;
}

#columnCover.right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

#profilePic{
    border-radius: 50%;
}

#userProfImg{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: 1px solid lightgray;
}

#usernameText{
    display: block;
    margin: auto;
    text-align: center;
}

#typeText{
    display: block;
    margin-top: 1%;
    text-align: center;
}